/.project/
/.pydevproject/
/.settings/
/.spyproject/
/.project
/.pydevproject

/.tox/
/.coverage*
/coverage.json
/coverage.xml
/htmlcov/
*.py,cover

/build/
/dist/
/easy-install*
/easy_install*
/setuptools.pth
*.egg-info
/*.egg-link

*.py[co]
__pycache__

/termcolor_demo

